:root {
  --yellow: #ffe385;
  --black: #272727;
  --white: #ffffff;
  --gradientLeft: #00c4ff;
  --gradientRight: #6d47d9;
}

body {
  background: linear-gradient(110deg, var(--gradientLeft), var(--gradientRight));
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}